* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0px 10px;
  display: inline-block;
  margin: 10px 10px;
  text-transform: uppercase;
  line-height: 2em;
  min-width: 100px;
  letter-spacing: 1.5px;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 3px solid #cfcece;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  transition: all 0.3s;
}
.table-footer {
  height: 120px;
}
.footer-info-box:after {
  clear: both;
  content: "";
  display: block;
}
.footer-info-box.total {
  color: #8dc424;
}
.footer-info-box {
  font-size: 20px;
  padding-top: 20px;
  float: left;
  margin-left: 20px;
  width: 250px;
  text-align: left;
}

.table-header {
  padding-left: 130px;
  display: flex;
  align-items: center;
  border-bottom: 15px solid #e2e2e2;
  font-size: 14px;
}

.table-header-item {
  flex: 1;
  padding: 10px 2px;
  text-align: center;
  color: #2c2c2c;
  border-right: 2px solid #e2e2e2;
}

.table-header-item:first-child {
  border-left: 2px solid #e2e2e2;
}

.table-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.table-body-row {
  color: #2c2c2c;
  width: 100%;
  border-bottom: 15px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.table-body-row:first-child span {
  font-weight: 700;
}

.table-row-name {
  display: inline-block;
  width: 130px;
  padding: 2px 10px;
}

.table-cell {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid #e2e2e2;
}

.table-cell:nth-child(2) {
  border-left: 1px solid #e2e2e2;
}

.event {
  width: 100%;
  border: 1px solid #fff;
  font-size: 11px;
  color: #f9f9f9;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 4px 2px;
}

.buttons-box {
  position: sticky;
  background: #39c2d7;
  top: 0px;
}

.refresh-button {
  position: relative;
  float: left;
}

.js {
  background: #66bbcb;
}

.react {
  background: #d285a5;
}

.global {
  background: #d76834;
}

.nodejs {
  background: #475ab1;
}

.angular {
  background: #8dc424;
}

.app {
  text-align: center;
}

.epam-logo {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
}

.epam-logo img {
  width: 72px;
}

.app-header {
  height: 60px;
  background: #464547;
  display: flex;
  align-items: center;
}

.app-title {
  text-decoration: none;
  color: #ffffff;
  padding: 0 18px;
  text-transform: uppercase;
}

.line {
  background: #ffffff;
  height: 24px;
  width: 1px;
  margin: 18px 0;
}

h1 {
  font-weight: 400;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5px;
}

.app-intro {
  font-size: large;
}
