{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "serviceworker": true
  },
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 1,
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }]
  }
}
