.popup .header {
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: blue;
  
}

.popup .content {
  width: 100%;
  text-align: left;
}

.popup .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #FFFFFF;
  border-radius: 18px;
  border: 1px solid #CFCECE;
}


.popup{
  display: none;
  background-color: #CFCECE;
  border-radius: 6px;
  padding:15px;
  text-align: left;
  left: 30px;
  bottom: 30px;
  position: fixed;
  width: 300px;
  
}
.popup a:enabled{
  color: #D76834;
}

.popup .url-title:after{
  content: ' ';
}


