.popup{
  display: none;
  background-color: #f1f1f1;
  text-align: left;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 60%;
  max-height: 80%;
  max-width: 800px;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup-inner-box {
  /*height: 100%;*/
  /*overflow: auto;*/
  /* STYLE FOR SCROLL!!!*/
}

.popup .header {
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 22px;
  text-align: center;
  color: #fff;
  background: #464547;
  padding: 12px 30px;
}

.popup-close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 8px 14px;
  line-height: 30px;
  right: 0;
  top: 0;
  font-size: 40px;
  color: #fff;
  z-index: 1050;
}

.popup .content {
  width: 100%;
  margin-bottom: 50px;
  padding: 20px 30px;
  text-align: left;
}

.event-image-box{
  width: 100%;
  /*height: 100%;*/
  overflow: hidden;
  margin-top: 52px;
}

.event-img{
  min-width: 100%;
  height: auto;
  max-height: 400px;
}

.popup a:enabled{
  color: #fff;
  text-decoration: none;
}

.popup-url {
  position: absolute;
  width: 100%;
  bottom:0;
  left: 0;
  right: 0;
  background: #8dc424;
  text-transform: uppercase;
  text-align: center;
  padding: 12px;
  font-size: 18px;
}
