* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.app {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.epam-logo {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
}

.epam-logo img {
  width: 72px;
}

.app-header {
  height: 60px;
  width: 300px;
  position: fixed;
  top: 0;
  background: #464547;
  display: flex;
  align-items: center;
  z-index: 10;
}

.app-title {
  text-decoration: none;
  color: #ffffff;
  padding: 0 18px;
  text-transform: uppercase;
}
.buttons-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  margin-left: 300px;
  background: #464547;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.button-box-part {
  display: flex;
  align-items: center;
}

.sub-buttons {
  margin-right: 50px;
}

.prev-month-button, .next-month-button {
  float: right;
}

.refresh-button {
  position: relative;
  float: left;
}

.button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: #e2e2e2;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none
}

.button:hover {
  background: #000;
}

.button-active {
  color: #39C2D7;
}

.table-header {
  padding-left: 130px;
  display: flex;
  align-items: stretch;
  position: sticky;
  border-bottom: 15px solid #e2e2e2;
  font-size: 14px;
  background-color: white;
  top: 60px;
  z-index: 10;
}

.table-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
  padding: 10px 2px;
  text-align: center;
  color: #2c2c2c;
  border-right: 2px solid #e2e2e2;
}

.table-header-item:first-child {
  border-left: 2px solid #e2e2e2;
}

.month-name{
  width: 120px;
  background: #39C2D7;
  color: white;
  cursor: auto;
}

.month-name:hover {
  background: #39C2D7;
}

.table-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-top: 60px;
}

.table-body-row {
  color: #2c2c2c;
  width: 100%;
  border-bottom: 15px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.table-body-row:first-child span {
  font-weight: 700;
}

.table-row-name {
  display: inline-block;
  width: 130px;
  padding: 2px 10px;
}

.table-cell {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid #e2e2e2;
}

.table-cell:nth-child(2) {
  border-left: 1px solid #e2e2e2;
}

.event {
  width: 100%;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 11px;
  color: #f9f9f9;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 4px 2px;
}

.table-footer {
  height: 120px;
}

.footer-info-box:after {
  clear: both;
  content: "";
  display: block;
}

.footer-info-box.total {
  color: #8dc424;
}

.footer-info-box {
  font-size: 20px;
  padding-top: 20px;
  float: left;
  margin-left: 20px;
  width: 250px;
  text-align: left;
}

.meetup {
  background: #0386d4;
}

.sum-meetup {
  color: #0386d4;
}

.talk {
  background: #76cdd8;
}

.sum-talk{
  color: #76cdd8;
}

.rs {
  background: #d76834;
}

.itday {
  background: #475ab1;
}

.openday{
  background: #c8de3d;
}

.sum-openday{
  color: #c8de3d;
}

.hackathon {
  background: #f9954f;
}

.sum-hackathon {
  color: #f9954f;
}

.truestory {
  background: #ffd000;
}

.otherevent {
  background: #ca9cff;
}
.sum-otherevent {
  color: #ca9cff;
}

.line {
  background: #ffffff;
  height: 24px;
  width: 1px;
  margin: 18px 0;
}

h1 {
  font-weight: 400;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5px;
}

h4 {
  color: #fff;
  font-weight: normal
}

.app-intro {
  font-size: large;
}

.event-item {
  position: relative;
}

.tooltip {
  position: absolute;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  max-height: 150px;
  font-size: 16px;
  background: #f1f1f1;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tooltip-right {
  right: 0;
  left: auto;
  transform: translateX(0);
}

.tooltip-header {
  background: #464547;
  padding: 5px 5px;
}

.tooltip-body {
  padding: 5px 5px 10px;
}

.tooltip:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #464547 transparent;
}

.tooltip-right:before {
  right: 0;
  margin-left: 0;
  left: auto;
}

@media screen  and (max-width: 1300px){
  .next-month-button{
    float: none;
  }
  .prev-month-button{
    float: none;
  }
  .filter{
    float: none;
  }
  .button{
    float: none;
  }
  .month-name{
    float: none;
  }
  .event span:first-child {
    display: none;
  }
  .event span:last-child {
    display: inline-block;
  }
}

@media screen  and (max-width: 777px) {
  .event span:last-child {
    display: none;
  }
}

.clear-filter {
  display: none;
}

.spinner-img {
  width: 100%;
}
